.square {
  background-image: linear-gradient(to top right, #D3D3D3, #BEBEBE);
  border: solid 1px white;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
}
