<div class='flex-direction-column-reverse board'>
  <% board.rows.each do |row| %>
    <div class='flex-direction-row row'>
      <% row.each do |square| %>
        <div
            id=<%= dom_id(square)%>
            data-action='drop->drag#drop dragover->drag#dragOver'
            class='square'>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
