<button
  data-action='click->submit#playTurn'
  class='button'
  <%= 'disabled' if disabled %>>
  <%= t('games.show.submit_word') %>
</button>
<button
  data-action='click->modal#showSkipModal'
  class='button'
  <%= 'disabled' if disabled %>>
  <%= t('games.show.skip_turn') %>
</button>
