<div class='modal <%= 'hidden' if hidden %>' data-modal-target='modal'>
  <div class='flex-direction-row modal-controls'>
    <button data-action='click->modal#hideModal' class='close-modal-button'>
      &#10005
    </button>
  </div>
  <%= yield :modal %>
</div>
