<div class='flex-direction-row'>
  <%= render(
     partial: 'board',
     locals: { board: game.board }
  ) %>
  <div class='flex-direction-column score-card'>
    <%= render(
      partial: 'score_card',
      locals: { player_1: game.player_1, player_2: game.player_2 }
    ) %>
    <%= t('games.show.players_turn', player: game.current_player.name) %>
    <%= render(
      partial: 'alert',
      locals: { message: game.announcement }
    ) %>
  </div>
</div>
