<div class='flex-direction-row tile-rack'>
  <% (0..6).to_a.zip(player.tiles).each_with_index do |array, index| %>
    <% space, tile = array %>
    <div
      class='tile-rack-space'
      id=<%= "space_#{index}" %>
      data-action='drop->drag#drop dragover->drag#dragOver'
      data-drag-target='space'
      data-shuffle-target='space'>
      <% if tile.present? %>
        <%= render(
          partial: 'tile',
          locals: {
            tile: tile,
            draggable: player.is_current_player?
          }
        ) %>
      <% end %>
    </div>
  <% end %>
</div>
