<div class='flex-direction-row tile-rack'>
  <% (0..6).to_a.zip(player.tiles).each do |array| %>
    <% space, tile = array %>
    <div
      class='tile-rack-space'
      data-action='drop->drag#drop dragover->drag#dragOver'>
      <% if tile.present? %>
        <div
          id=<%= dom_id(tile) %>
          draggable=<%= player.is_current_player? %>
          data-action='dragstart->drag#dragStart dragend->drag#dragEnd'
          class='tile'>
          <%= tile.letter %>
          <%= tile.points %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
