<div class='flex-direction-column'>
  <% @games.each do |game| %>
    <%= link_to(
      t('games.index.game', id: game.id), game_path(game), class: 'link'
    ) %>
  <% end %>
</div>
<%= link_to(t('games.index.new_game'), new_game_path, class: 'link') %>
