<div data-controller='invitations' data-user=<%= @user.id %>>
  <div class='flex-direction-row' data-invitations-target='games'>
    <%= render partial: 'games_dashboard', locals: { user: @user} %>
  </div>
</div>
