<div class='flex-direction-column' data-controller='drag'>
<%= render(
  partial: 'tile_rack',
  locals: { tile_rack: @game.player_1.tile_rack }
) %>
<%= render(
   partial: 'board',
   locals: { board: @game.board }
) %>
<%= render(
  partial: 'tile_rack',
  locals: { tile_rack: @game.player_2.tile_rack }
) %>
</div>
