<div
  data-controller='drag submit'
  data-game=<%= @game.id %>
  data-submit-target='game'
  class='flex-direction-column'>
  <div data-submit-target='shared'>
    <%= render(
      partial: 'shared',
      locals: { game: @game }
    ) %>
  </div>
  <%= render(
    partial: 'submit_button',
    locals: { player: @player }
  ) %>
  <div data-submit-target='rack'>
    <%= render(
      partial: 'tile_rack',
      locals: { player: @player }
    ) %>
  </div>
</div>
