<div
  data-controller='drag submit touch'
  data-game=<%= @game.id %>
  data-player=<%= @player.id %>
  data-submit-target='game'
  class='flex-direction-column'>
  <div data-submit-target='shared'>
    <%= render(
      partial: 'shared',
      locals: { game: @game }
    ) %>
  </div>
  <div data-submit-target='confidential'>
    <%= render(
      partial: 'confidential',
      locals: {
        alert: nil,
        player: @player,
        tile_bag: @game.tile_bag
      }
    ) %>
  </div>
</div>
