.alert {
  opacity: 0;
  animation-name: alert;
  animation-duration: 8s;
  font-size: 20px;
  margin: 0;
}

.alert-placeholder {
  min-height: 40px;
}

.board {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

body {
  background: #F8F8F8;
  padding: 40px;
  font-family: 'Architects Daughter', cursive;
}

.button {
  width: fit-content;
  height: fit-content;
  font-family: 'Architects Daughter', cursive;
  background-image: linear-gradient(to top right, #303030, #202020);
  border-radius: 2px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 2px 4px;;
  margin: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover {
    cursor: pointer;
  }
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-direction-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.link {
  color: black;
  text-decoration: none;
}

.navbar {
  align-items: center;
}

.player-dashboard {
   align-items: center;
 }

 .score-card {
   margin: 10px;
 }

 .select {
   font-family: 'Architects Daughter', cursive;
 }

.square {
   background-image: linear-gradient(to top right, #D3D3D3, #BEBEBE);
   border: solid 1px white;
   height: 30px;
   width: 30px;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   color: white;
 }

 .tile {
   height: 30px;
   width: 30px;
   background-image: linear-gradient(to top right, #A9A9A9, #808080);
   color: white;
   z-index: 1;
   position: absolute;
   justify-content: center;
   align-items: center;
 }

 .tile-letter {
   font-size: 18px;
 }

 .tile-points {
   position: absolute;
   right: 3px;
   bottom: 0;
   font-size: 12px;
   padding: 0;
 }

 .tile-rack {
   width: fit-content;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .tile-rack-space {
   background: #BEBEBE;
   height: 30px;
   width: 30px;
   border: solid 1px white;
 }

 @keyframes alert {
   0% {opacity: 1;}
   5% {opacity: 0;}
   10% {opacity: 1;}
   15% {opacity: 0;}
   20% {opacity: 1;}
   25% {opacity: 0;}
   30% {opacity: 1;}
   35% {opacity: 0;}
   40% {opacity: 1;}
   50% {opacity: 0.8;}
   60% {opacity: 0.6;}
   70% {opacity: 0.4;}
   80% {opacity: 0.2;}
   100% {opacity: 0;}
 }
