body {
  padding: 40px;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-direction-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.square {
   border: solid 1px black;
   height: 30px;
   width: 30px;
 }

 .tile {
   height: 28px;
   width: 28px;
   border: solid 1px black;
 }

 .submit-button {
   width: fit-content;
 }
