.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-direction-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.square {
   border: solid 1px black;
 }
