$scrbabble-pink: #FF1493;

.alert {
  opacity: 0;
  animation-name: alert;
  animation-duration: 8s;
  font-size: 20px;
  margin: 0;
  color: $scrbabble-pink;
}

@keyframes alert {
  0% {opacity: 1;}
  5% {opacity: 0;}
  10% {opacity: 1;}
  15% {opacity: 0;}
  20% {opacity: 1;}
  25% {opacity: 0;}
  30% {opacity: 1;}
  35% {opacity: 0;}
  40% {opacity: 1;}
  50% {opacity: 0.8;}
  60% {opacity: 0.6;}
  70% {opacity: 0.4;}
  80% {opacity: 0.2;}
  100% {opacity: 0;}
}

.alert-placeholder {
  min-height: 40px;
}

.archived-games {
  max-width: 300px;
}

.board {
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

body {
  background: #F8F8F8;
  padding: 40px;
  font-family: 'Architects Daughter', cursive;
}

.button {
  justify-content: center;
  align-items: center;
  min-width: 80px;
  max-width: 100px;
  font-family: 'Architects Daughter', cursive;
  background-image: linear-gradient(to top right, #303030, #202020);
  border-radius: 2px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 2px 4px;;
  margin: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:disabled {
    background-image: linear-gradient(to top right, #D3D3D3, #BEBEBE);

    &:hover {
      cursor: auto;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.loading {
    .button-label {
      display: none;
    }

    .loading-spinner {
      display: flex;
    }
  }
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding: 12px;
  flex-basis: 340px;
  margin-right: 80px;
}

.close-modal-button {
  border: none;
  background: none;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-direction-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.game-form {
  select {
    width: fit-content;
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 10px;
  }

  input {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.game-summary {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  margin: 6px 0;
  padding: 0 6px;
  flex-basis: 200px;
  justify-content: space-between;
  padding: 2px 6px;
}

.hidden {
  display: none;
}

.hint {
  position: absolute;
  top: 30px;
  left: 12px;
  width: max-content;
  color: $scrbabble-pink;
  font-size: 14px;
  visibility: hidden;

  p {
    margin: 0;
  }
}

.hintable {
  &:hover {
    .hint {
      opacity: 1;
      transition: opacity  0s linear 1s;
      visibility: visible;
    }
  }
}

.hint-message {
  background: rgba(248, 248, 248, 0.8);
  padding: 0 4px;
  border-radius: 4px;
}

.link {
  color: black;
  text-decoration: none;
}

.loading-spinner {
  border: 2px solid $scrbabble-pink;
  border-top: 1.6px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: loading-spinner 2s linear infinite;
  display: none;
}

@keyframes loading-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  background: white;
  border: 2px solid $scrbabble-pink;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-controls {
  justify-content: flex-end;
}

.new-game {
  color: $scrbabble-pink;
}

.navbar {
  align-items: center;
}

.player-dashboard {
  align-items: center;
}

.score-card {
  margin: 10px;
}

.select {
  font-family: 'Architects Daughter', cursive;
}

.square {
  background-image: linear-gradient(to top right, #D3D3D3, #BEBEBE);
  border: solid 1px white;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
}

.swappable-tile {
  @extend %tile;
  margin: 4px;
  position: relative;

  &.selected {
    border: 2px solid $scrbabble-pink;
  }
}

%tile {
  height: 30px;
  width: 30px;
  background-image: linear-gradient(to top right, #A9A9A9, #808080);
  color: white;
  justify-content: center;
  align-items: center;

}

.tile {
  @extend %tile;
  position: absolute;
  z-index: 1;

  &.latest {
    background-image: linear-gradient(to top right, $scrbabble-pink, #FF69B4);
  }

  &.multipotent {
    background-image: linear-gradient(to top right, $scrbabble-pink, #FF69B4);
  }
}

.tile-form {
  position: absolute;

  select {
    font-family: 'Architects Daughter', cursive;
    height: 30px;
    width: 30px;
    background-image: linear-gradient(to top right, $scrbabble-pink, #FF69B4);
    color: white;
  }
}

.tile-letter {
  font-size: 18px;
}

.tile-points {
  position: absolute;
  right: 3px;
  bottom: 0;
  font-size: 12px;
  padding: 0;
}

.tile-rack {
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile-rack-space {
  background: #BEBEBE;
  height: 30px;
  width: 30px;
  border: solid 1px white;
}

.update {
  margin: 10px 0;
  color: $scrbabble-pink;
  font-size: 20px;
}

.user-form {
  max-width: 300px;
}
