<button
  data-action=<%= data_action %>
  class='button flex-direction-row'
  <%= 'disabled' if disabled %>>
  <div class='loading-spinner'></div>
  <div class='button-label'><%= label %></div>
</button>
