<% if @current_user %>
  <div class='flex-direction-row'>
      <%= link_to t('navbar.home'), root_path, class: 'button' %>
      <%= form_with url: delete_sessions_path, method: :post do |form| %>
        <%= form.submit t('sessions.delete'), class: 'button' %>
      <% end %>
  </div>
<% end %>
